# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*

# misc
.DS_Store
.coverage
coverage.xml

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.default.json
!.vscode/tasks.json

# Home Assistant configuration
config/*
!config/configuration.yaml