# Attention: This file is for development purpose only and can be ignored.

# https://www.home-assistant.io/integrations/default_config/
default_config:

# https://www.home-assistant.io/integrations/logger/
logger:
  default: info
  logs:
    custom_components.lightener: debug

# Create a few fake lights take can be used in ha to create Lightener lights.
light:
  - platform: template
    lights:
      on_off_light_1:
        friendly_name: "ON-OFF Light 1"
        turn_on:
        turn_off:
      on_off_light_2:
        friendly_name: "ON-OFF Light 2"
        turn_on:
        turn_off:
      living_room_ceiling:
        friendly_name: "Living Room Ceiling Lights"
        turn_on:
        turn_off:
        set_level:
      living_room_ceiling_leds:
        friendly_name: "Living Room Ceiling Leds"
        turn_on:
        turn_off:
        set_level:
      living_room_sofa_lamp:
        friendly_name: "Living Room Sofa Lamp"
        turn_on:
        turn_off:
        set_level:
        set_temperature:
        set_rgb:
      issue_97_ceiling:
        friendly_name: "Ceiling"
        turn_on:
        turn_off:
      issue_97_lamp:
        friendly_name: "Lamp"
        turn_on:
        turn_off:
        set_level:

  # This is the Lightener v1 configuration example.
  # Although *still* supported it has been replaced by UI configuration with v2.
  #
  # - platform: lightener
  #   lights:
  #     # This defines the entity id of your virtual light ("light.living_room_v1").
  #     living_room_v1:
  #       ## The display name of your virtual light (optional).
  #       friendly_name: "Living Room Lightened"
  #       ## The list of the existing light entities that will be managed by the virtual light.
  #       entities:
  #         light.living_room_ceiling_leds:
  #           80: 100 # At 80% (room) the leds will reach 100% brightness.
  #         light.living_room_sofa_lamp:
  #           20: 0 # At 20% (room) the sofa light is still off.
  #           60: 100 # At 60% (room) the sofa light reaches 100% brightness.
  #         light.living_room_ceiling:
  #           60: 0 # At 60% (room) the main ceiling light is still off.
  #           # 100: 100 ... no need for this as it is de default.

  #     # As many virtual lights as you want can be added here.
